*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}



html{
overflow-x: hidden;
}



/* for darkmode effect */

.dark-mode {
background-color: black;
color: white;
}
body{
margin: auto;
overflow-x: hidden;
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 1000;
  display: flex;
  border: 1px solid;
  justify-content: space-between;
  padding-top: 10px;  
  margin-bottom: 10px;
  background-color: #333;
  flex-flow: wrap;
  font-size: 23px;
  
  height: 55px;
}

header a span{
  color: rgb(255, 150, 21);
  font-size: 30px;
}
a{
  text-decoration: none;
  color:white
}
header .navbar a{
  margin-left: 20px;
}
header .navbar a:hover{
color: #f4bb40;
}


header  .icons #login-btn{
  margin-left: 20px;
  color: white;
}
header  .icons  #search-btn {
  margin-left: 20px;
  color: white;
}
header  .icons  #dark-btn {
margin-left: 20px;
color: white;
margin-right: 10px;
}



.home{
 min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;


}

.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 90px;
  color:#fff;
  text-transform: uppercase;
}

.home .content p{
  font-size: 40px;
  color:#fff;
}
.home .content a{
  border: 1px solid;
  background-color: rgb(203, 124, 22);
  padding: 3px;
 
}


.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  /* used for covering the image whole width of body */
  object-fit: cover;
}


.packages .title{
text-align: center;
margin-top: 0%;
margin-bottom: 5px;

}
.packages .title h2{
  font-size: 25px;
  font-weight: 1000;
  color: rgb(250, 166, 10); 
 }

.packages .box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 35px;
  row-gap: 25px;
  padding-left:5px ;
  margin-left: 20px;
  margin-right: 20px;
  /* row-gap: 20px; */
/* border-radius: 10px; */
  
}

.packages .box .box1 img{
  height: 200px;
  width:100%;
  object-fit: cover;

}
.packages .box .box1{
  border:1px solid orange;
  padding: 5px;
  font-size: 20px;

}
.packages .box .box1 .content1 h3{
  padding:10px;
  color:rgb(250, 166, 10);

}
.packages .box .box1 .content1 p{
  padding-left:10px ;
}
.packages .box .box1 .content1 .btn{
  border: 1px solid white;
  background-color: rgb(250, 166, 10);
  color: white;
  font-weight: 100;
  margin-left: 10px;
  margin-top:20px ;
  margin-bottom: 5px;
  font-size: 20px;
  border-radius: 6px;
  padding: 4px;
  text-transform: capitalize;
}
.packages .box .box1 .content1 .stars{
  color:rgb(250, 166, 10);
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 15px;
}

.service{
margin-top: 30px;
}
.service .heading {

font-size: 50px;
/* color:black; */
/* border-radius: 400px; */
/* background: #f4bb40; */
/* box-shadow:  13px 13px 20px #c18b13,
           -14px -14px 20px #ffbb19; */
}

.service .service-container{
display: grid;
grid-template-columns: auto auto auto;
/* /* column-gap: 30px; */
row-gap: 30px; 
justify-content: space-evenly;
font-size: 20px;

}

.service .service-container .box{
text-align: center;
max-height: 250px;
max-width: 250px;
}
.service .service-container .box i{
color: rgb(250, 166, 10);
font-size: 35px;
}
.service .service-container .box h3{
padding-top: 10px;
padding-bottom:5px;
font-weight: 700;

}

.service .service-container .box:hover{
box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}
.service h1{
text-align: center;
margin-bottom: 20px;
color:rgb(250, 166, 10) ;
}

.footer{
background-color:#333;
border: 2px solid rgb(250, 166, 10) ;
color: white;
margin-top: 20px;
box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
font-size: 20px;

}
.footer  .box-footer{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.footer  .box-footer .box3 a{
display: flex;
flex-wrap: wrap;
margin-top:10px ;
}
.footer  .box-footer .box3 a:hover{
color: rgb(250, 166, 10);
}
.footer  .box-footer .box3{
margin-left: 70px;

}
.footer  .box-footer .box3 h3{
color:rgb(255, 171, 15);
font-weight: 300;




}
.footer  .credit{
text-align: center;
margin-top: 10px;
color:white;

}



@media screen and (max-width:800px)
{

body{
  text-align: center;
  overflow-x: hidden;
}
header{
  justify-content: center;
  height:auto;
}

header i{
  margin-top: 5px;

}

 .packages .box{
  grid-template-columns: auto;
  row-gap: 20px;
  padding:25px;

}
 .packages .box .box1{
  border: 1px solid black;

 }

 .service .service-container{
  grid-template-columns: auto;
  row-gap: 20px;
  font-size: 20px;
  justify-content: center;

 }
 .service .service-container .box{
  margin-top: 10px;
 }


}




/* image slider */
.mySlides {
display: none;

}
img {
display: block;
margin-left: auto;
margin-right: auto;

}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;

}

.offer .offer-slider{
padding-bottom: 2rem;
}

.offer .box{
padding:10px;
text-align: center;
box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
border-radius: .5rem;
}

.offer .box img{
height:13rem;
width:13rem;
border-radius: 50%;
object-fit: cover;
margin-bottom: 1rem;

}

.offer .box h3{
color:#333;
font-size: 1.5rem;
}

.offer .box p{
color:#666;
font-size: 1.5rem;
padding:1rem 0;
}
/* use tooltip */
.tooltip {
position: relative;
display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
visibility: hidden;
width: 2px;
background-color: black;
color: #f4bb40;

position: absolute;
top: 25px;
right: 10px;
z-index: 3;
font-size: 17px;
margin-right: 30px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
}
