*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/* for darkmode effect */

.dark-mode {
  background-color: black;
  color: white;
}
body{
  margin: auto;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 1000;
    display: flex;
    border: 1px solid;
    justify-content: end;
    /* padding-left: 120px;
    padding-top: 10px; */
    padding-right: 10px; 
    background-color: rgb(243, 248, 248);
    background-color: black;
    flex-flow: wrap;
    font-size: 30px;
    
    
   
}


header a span{
    color: rgb(205, 123, 24);
}
a{
    text-decoration: none;
    color:white
    /* color: black; */
}
header .navbar a{
    margin-left: 20px;
   

}
header  .icons #login-btn{
    margin-left: 20px;
    color: white;
    padding-left: 5px;
}
header  .icons  #search-btn {
    margin-left: 20px;
    color: white;
}
header  .icons  #dark-btn {
  margin-left: 20px;
  color: white;
}


 
.home{
   min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;


  }
  
  .home .content{
    text-align: center;
  }
  
  .home .content h3{
    font-size: 90px;
    color:#fff;
    text-transform: uppercase;
  }
  
  .home .content p{
    font-size: 40px;
    color:#fff;
  }
  .home .content a{
    border: 1px solid;
    background-color: rgb(203, 124, 22);
    padding: 3px;
   
  }
 
  
  .home .video-container video{
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    height: 100%;
    width:100%;
    /* used for covering the image whole width of body */
    object-fit: cover;
  }

  
  .packages .title{
text-align: center;
margin-top: 0%;
margin-bottom: 5px;

  }
  .packages .title h2{
    font-size: 25px;
    font-weight: 1000;
    color: rgb(250, 166, 10); 
   }

.packages .box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    padding-left:5px ;

    
 }

 .packages .box .box1 img{
    height: 200px;
    width:100%;
    object-fit: cover;

 }
 .packages .box .box1{
    border:1px solid whitesmoke;
    padding: 5px;
    font-size: 20px;

 }
 .packages .box .box1 .content1 h3{
    padding:10px;
    color:rgb(250, 166, 10);

 }
 .packages .box .box1 .content1 p{
    padding-left:10px ;
 }
 .packages .box .box1 .content1 .btn{
    border: 1px solid white;
    background-color: rgb(250, 166, 10);
    color: white;
    font-weight: 100;
    margin-left: 10px;
    margin-top:10px ;
    font-size: 20px;
    border-radius: 2px;
    padding: 3px;
 }
 .packages .box .box1 .content1 .stars{
    color:rgb(250, 166, 10);
    margin-top: 5px;
    margin-bottom: 3px;
 }

 .service{
  margin-top: 30px;
 }
 .service .heading span{
  /* font-size: 20px;
  font-weight: 400; */
  /* background-color: orange;
  color: white;
  width: 20px;
  border: 2px solid orange;
  border-radius: 30px; */
  font-size: 50px;
  color: white;
  border-radius: 400px;
background: #f4bb40;
box-shadow:  13px 13px 20px #c18b13,
             -14px -14px 20px #ffbb19;
 }

 .service .service-container{
  display: grid;
  grid-template-columns: auto auto auto;
  /* /* column-gap: 30px; */
  row-gap: 30px; 
  justify-content: space-between;
  font-size: 20px;

 }

 .service .service-container .box{
  text-align: center;
  max-height: 300px;
  max-width: 300px;
 }
 .service .service-container .box i{
  color: rgb(250, 166, 10);
  font-size: 30px;
 }
 .service .service-container .box h3{
  padding-top: 10px;
  padding-bottom:5px;
  font-weight: 700;

 }

 .service .service-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
 }
.service h1{
  text-align: center;
  margin-bottom: 20px;
  color:rgb(250, 166, 10) ;
}

.footer{
  background-color:rgb(250, 166, 10);
  border: 2px solid rgb(250, 166, 10) ;
  color: white;
  margin-top: 20px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
 
}
.footer  .box-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer  .box-footer .box3 a{
  display: flex;
  flex-wrap: wrap;
  margin-top:10px ;
}
.footer  .box-footer .box3 a:hover{
  color: black;
}
.footer  .box-footer .box3{
  margin-left: 70px;
  
}
.footer  .box-footer .box3 h3{
  color: black;
 



}
.footer  .credit{
  text-align: center;
  margin-top: 10px;
  color:black;

}

/* offer */
.offer{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
  /* font-size: 25px; */

}
.offer .coupon{

  text-align: center;
  font-size: medium;
}
.offer .coupon:hover{
  box-shadow: 0 2rem 2rem rgba(0,0,0,.1);
}

@media screen and (max-width:800px)
{
  body{
    text-align: center;
    font-size: 20px;
  
  }
  header{
    justify-content: center;
    font-size: 20px;
  }

  header i{
    margin-top: 5px;

  }
 
   .packages .box{
    grid-template-columns: auto;
    row-gap: 20px;
    padding:25px;
  
  }
   .packages .box .box1{
    border: 1px solid black;
  
   }

   .service .service-container{
    grid-template-columns: auto;
    row-gap: 20px;
    font-size: 20px;
    justify-content: center;

   }
   .service .service-container .box{
    margin-top: 10px;
   }

   /* sponserde part */
   .sponser .sponser-company{
     display: flex;
    flex-wrap: wrap;
  }
}
